.section-title .subtitle{
    color: #2c7ae7;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    line-height: 14px;
    font-weight: 500;
}
.section-title .title{
    font-size: 60px;
    font-weight: 700px;
    line-height: 1.2;
    color: #545454;
    margin-top: 15px;
    margin-bottom: 0;
}
.button2 {
    display: inline-block;
    padding: 8px 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    font-weight: 400;
    border: 2px solid #d4d4d4;
    background: transparent;
    transition: all 500ms ease;
    cursor: pointer;
    color: #000;
    overflow: visible;
    text-decoration: none;
}
.button2:hover{
    background:rgb(61, 61, 61);
    color: #fff;
}
.button2 i {
    margin-left: 10px;
    vertical-align: middle;
}